name: Rerun Tests with Seed

on:
  workflow_dispatch:
    inputs:
      seed:
        description: 'Click to start or enter a seed'
        default: '1234'
        required: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3'
        bundler-cache: true
    - name: Run tests with seed
      run: bundle exec rspec --seed ${{ github.event.inputs.seed }}
      
